<!DOCTYPE html>
<html>

<head>
    <title>Handlebars Example</title>   
    <link href="./style.css" rel="stylesheet">
</head>

<body class="app">
    <div>
        <div id="headerContent">
            {{> header}}
        </div>
        <div id="mainContent">
            {{{body}}}
        </div>
    </div>
</body>

</html>